.card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 200px;
  border: 1px solid blue;
  margin: auto;
}

.game-div{
  background-color: rgb(128, 153, 221);
  width: 90%;
  height: 35px;
  align-self: center;
}

.text-game{
  margin-top: 5px;
  color: rgb(170, 45, 45);
  margin-left: 10px;
}

.player-card{
  display: flex;
  background-color: rgb(169, 188, 240);
  width: 90%;
  height: 40px;
  margin-top: 10px;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
