.player-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 190px;
  border: 1px solid blue;
  margin: auto;
}
.inp-conatiner {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
}

.inp {
  width: 90%;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border-width: 1px;
  border-color: rgb(7, 168, 243);
}
